<!-- Home Page Styled with bootstrap grid -->
<h1>  Authentication Home </h1>
<div class="enclosing">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
               <h1>About Us</h1>
               <h6>
                   <p>
                        Authenticate System is a free online library for starter code that can be implemented in your projects to design the SignIn/Signup feature. <br>
                        Internally Passport.js Library is used to implement multiple strategy which is secure and reliable . <br>
                        The entire code is hosted on Github and can be used directly by installing in your system. <br>
                        Please read the readMe file Present on github to set it up on your local system. <br>
                        We are constantly updating and adding new strategy for giving Developers best suited authentication method . <br>
                        Please Check The Links Present to visit and implement the System . <br>
                        Thank you for your Constant Support ! <br>
                        Authenticate System Team .
                    </p>
               </h6>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>
    </div>

