<!-- Form containing link and method for signup -->
<h1>Sign Up As A New User</h1>
<div class="enclosing">
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form action="/signup/create" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted">Enter Your Name .</small>
                  </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Re-enter Password</label>
                    <input type="password" class="form-control" name="reenterPassword" required>
                  </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <a href="/signin/auth/google"><div class="btn btn-outline-secondary"><i class="fab fa-google"></i> &nbsp Sign Up Using Google</div></a>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</div>