<!-- Form containing link and method method for verifying the otp -->
<h1> Verify Email </h1>

<div class="enclosing">
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form action="/resetPassword/verifykey" method="POST">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="email">Enter the OTP</label>
                  <input type="text" class="form-control" name="otp" aria-describedby="emailHelp" required>
                  <small id="emailHelp" class="form-text text-muted">Please Enter the OTP Sent to your Email |Valid only for 30 minutes|</small>
                </div>
                <div class="form-group">
                    <label for="password">Enter new Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                      <label for="password">Re-enter new Password</label>
                      <input type="password" class="form-control" name="reenterPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Verify and Change</button>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>
</div>